/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

html, body {
  width: 100%;
  height: 100%;
}

#mouse{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 99999;
  border-radius: 20px;
  background-color: white;
}

#main {
  width: 100%;
  background-color: black;
}


#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  background-color: black;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  color: white;
}

#nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#heading {
  margin-top: 90px;
}

/* Reset the vertical margin for h1 elements */
#heading h1 {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;
  font-size: 7.9vw;
  text-transform: uppercase;
  font-weight: 500;

}

#heading #second {
  margin-top: 0;
  margin-left: 100px;
}

.blocktext {
  width: fit-content;
}

/* Styles for the footer inside the hero element */
#footer {
  display: flex;
  padding: 0 2vw;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 3%;
  width: 100%;
  padding: 0 40px;
}

#footer a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/* Corrected selector to use #main #seconds */
#main #seconds {
  padding-top: 200px;
  padding-right: 10vw;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.elem {
  position: relative;
  width: 100%;
  padding: 2vw 1vw;
  border-top: 1px solid #888;
  background-color: black;
}

.elem h1{
  text-transform: uppercase;
  color: white;
  font-size: 6vw;
  opacity: 0.7;
}

.elem img{
  display: none;
  height: 100px;
  z-index: 999;
  position: absolute;
}


